@{
    ViewData["Title"] = "Home Page";
}

<img class="img" src="~/pano.jpg" />

<p>
    <h4>Beneath the upcoming events are listed:</h4>
</p>
<p>
    <ul>
        <li>Specialty Coffee and Tea</li>
        <li>Bagel, Muffins and Organic Snacks</li>
        <li>Music and Poetry Readings</li>
        <li>Open Mic Night</li>
    </ul>
</p>