
@{
    ViewData["Title"] = "Menu";
}

<h1>Menu</h1>

<dl>
    <dt><b>Just Java</b></dt>
    <dd>
        Regular house blend, decaffeinated coffee, or flavor of the day. <br />
        Endless Cup $2.00
    </dd>

    <dt><b>Cafe au Lait</b></dt>
    <dd>
        House blended coffee infused int oa smooth, steamed milk. <br />
        Single $2.00 Double $3.00
    </dd>

    <dt><b>Iced Cappuccino</b></dt>
    <dd>
        Sweetened espresso blended with icy-cold milk and served in a chilled glass. <br />
        Single $4.75 Double $5.75
    </dd>
</dl>

